{% extends "Menu.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">  
    <style>
        .center_body
        {
            margin-left: 17cm;

        }
    </style>
</head>
<h2 class="center">UPLOAD</h2>
<div style = 'margin-top:25px;' class="center_body">
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button style='margin-top:10px;' type = 'submit'>UPLOAD IMAGE</button>
    </form>
</div>
<br>
<h3><p><a href="Menu" class = "contact_text" >#back</a></p></h3>
{% endblock content %}